flask
beautifulsoup4
requests
discord_webhook
chat_downloader
scrapetube
dnspython
schedule
cronitor
yt_dlp
flask-sitemap
psutil
flask-cors
flask-login
yagmail
google-api-python-client
google-auth-oauthlib