* {
  box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }

.border-primary {
    border: 4px solid blue;
}

.border-success {
    border: 4px solid green;
}

.border-secondary {
    border: 4px solid gray; /* You can adjust the default color as needed */
}

.border-warning {
    border: 4px solid yellow;
}

.dropdown-item {
    color: black;
    background-color: white;
}

.dropdown-item.dark-theme {
    color: white;
    background-color: rgba(33, 37, 41, 1);
}

.dropdown-menu {
    background-color: white;
    color: black;
}

.dropdown-menu.dark-theme{
    background-color: rgba(33, 37, 41, 1);
    color: white;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
	background-color: white;
}

body.container {
  padding-top: 60px;
}
.card {
	--bs-card-bg: rgba(255, 255, 255, 1);
}

.card.dark-theme {
  --bs-card-bg: rgba(33, 37, 41, 1);
}

.noborder {
  border: 0px;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.form-control{
	background-color:white;
	color:black;
}

.table{
	background-color:white;
	color:black;
}
.tr{
	background-color:white;
	color:black;

}
.td{
	background-color:white;
	color:black;
}

.btn-primary{
	--bs-btn-color: rgba(33, 37, 41, 1);
}

/* Dark theme styles */
body.dark-theme {
	background-color: rgba(33, 37, 41, 1);
}

body.dark-theme .card {
	--bs-card-bg: rgba(33, 37, 41, 1);
}

body.dark-theme a:link {
	color: white;
}

body.dark-theme {
	color:white;
}

.btn-primary.dark-theme{
	--bs-btn-color: rgb(255, 255, 255);
}

.btn.dark-theme{
  --bs-btn-color: rgb(255, 255, 255);
}

.form-control.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}

.table.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}
.tr.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}
.td.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}

.dark-theme a:visited {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
}

:root{
  --bs-border-radius: 2rem;
  --bs-light-rgb: 255, 255, 255;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  .checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }

  .checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  .checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
  }

  .checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
  }

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

  .checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
  }

  .checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
  }
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #8b8989;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


/* Custom input style */
input[type="text"],
input[type="number"],
input[type="password"] {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	width: 10%;
	transition: border-color 0.3s ease-in-out;
}

#search {
  width: 100%;
}
/* Custom focus style */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
	outline: none;
	border-color: #999;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 1002;
}

  #loader:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
  }

  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
  }

  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: #222222;
      z-index: 1000;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(100%);  /* IE 9 */
              transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
              transition: all 0.3s 1s ease-out;
  }
  

.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login.dark-theme{
  background-color: rgba(33, 37, 41, 1);
  color: white;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
}

select.dark-theme{
  background-color: rgba(33, 37, 41, 1);
  color: white;
}

.login h1 {
  text-align: center;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login h1.dark-theme{
  color: white;
}

.login .links {
  display: flex;
  padding: 0 15px;
}
.login .links a {
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}
.login form {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}


.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}


.card-no-left-right-padding{
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.scrollable_list{
  border: 1px solid #2196F3;
  padding: 5px;
  width: 300px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}