{% extends 'layout.html' %}

{% block head_content %}
<link rel="icon" type="image/x-icon" href="/static/logo.svg">
{% endblock %}

{% block content %}
<center>
    <form action="/add" method="post">
        {%if first_render %}    
        <input type="text" name="link" placeholder="{{link}}">
        {% else %}
        <input type="text" name="link" value="{{link}}">
        {% endif %}
        <input type="text" name="command" value="{{desc}}">
        <button class="btn btn-primary" type="submit" value="Submit" name="new">Submit</button> </br></br></br></br>
        <table border=5 class="styled-table">
            <tr>
                <th>User</th>
                <th>Chat</th>
                <th>Time</th>
                <th>Select</th>
            </tr>
            {% for chat in chats%}
            <tr>
                <td>{{chat.author.name}}</td>
                <td>{{chat.message}}</td>
                <td>{{chat.time_text}}</td>
                <td>
                    <div class="card-footer checkbox-wrapper-2"> 
                        <input type="checkbox" class="sc-gJwTLC ikxBAC" id="{{chat.message_id}}" name="{{chat.message_id}}" value="">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    <label for="delay">Delay in seconds:</label>
    <input type="text" name="delay" value="0">

    <button class="btn btn-primary" type="submit" value="Submit" name="add" >Submit</button>
    </form>


</center>
{% endblock %}