{% extends 'layout.html' %}

{% block head_content %}
<title>{{ channel_name }} - Clips ({{ data|length }})</title>
<link rel="icon" href={{ channel_image }} type="image/x-icon">
<meta property="og:title" content="{{ channel_name }} - Clips ({{ data|length }})" />
<meta property="og:description" content="Clips from {{ channel_name }}'s stream" />
<meta property="og:image" content="{{ channel_image }}" />
{% endblock %}

{% block content %}
<div class="container">
    <center>
    <div class="row">
        <div class="col-md-12">
            {% if channel_id == 'all'%}
            <h1>{{ channel_name }} - Clips ({{ data|length }})</h1>
            {% else %}
            <a href = "https://youtube.com/{{ channel_id }}">
            <img src="{{ channel_image }}" alt="{{ channel_name }}" class="rounded-circle" style="width: 200px; height: 200px;">
            <h1> {{ channel_name }} - Clips ({{ data|length }})</h1></a>
            {% endif %}
            {% if channel_id != 'all'%}
            </a>
            {% endif %} 
        </div>
    </div>
    <a href="/cs/{{channel_id}}"> <button type="button" class="btn btn-primary">Stats</button></a></br></br>
    <!--
    <div class="row">
        <div class="col-md-12">
            <h2>Raw Data</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control" id="raw_data" rows="3"></textarea>
        </div>
    </div>-->

    <button type="button" class="btn btn-secondary" onclick="copySimplifiedString()" id="ssbutton"><i class="fa-regular fa-clipboard"></i> Simplified String</h3></button>
    <br><br><br>
    </center><h2>Filter by Level:</h2>
    <center>
    <div class="row">
        <div class="col-md-12">
            <select id="filter" class="form-control">
                <option value="all">All Levels</option>
                <option value="everyone">Everyone</option>
                <option value="moderator">Moderator</option>
                <option value="owner">Owner</option>
                <option value="regular">Regular</option>
                <option value="subscriber">Subscriber</option>
                <option value="automated">Automated</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" id="prev-page">
                        <a class="page-link" href="#" aria-label="Previous" name="prev-button">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" id="next-page">
                        <a class="page-link" href="#" aria-label="Next" name="next-button">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" id="invert-page">
                        <a class="page-link" href="#" aria-label="Invert" name="invert-button"> 
                            <span aria-hidden="true">↑↓</i></span>
                        </a>
                    </li>
                </ul>
                <p>Page <span id="current-page">1</span>/<span id="total-page"></span> </br>
                (<span id="total-clips"></span>)</p>
            </nav>
        </div>
    </div>
    </center>
    <h2>Seperate streams</h2><label class="switch">
        <input type="checkbox" id="iview" checked="checked">
        <span class="slider round"></span>
    </label>
    <br><br><br>
    <div class="row">
        <div class="col-md-12">
            <h2>Search</h2>
            <center>
            <input type="text" id="search" class="form-control search" placeholder="Search for clips...">
        </div>
    </div>
</center>
    <div class="row" id="clips-container">
        <!-- Clips will be dynamically added here using JavaScript -->
    </div>
    <center>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" id="prev-page">
                        <a class="page-link" href="#" aria-label="Previous" name="prev-button">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" id="next-page">
                        <a class="page-link" href="#" aria-label="Next" name="next-button">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" id="invert-page">
                        <a class="page-link" href="#" aria-label="Invert" name="invert-button"> 
                            <span aria-hidden="true">↑↓</i></span>
                        </a>
                    </li>
                </ul>
                <p>Page <span id="current-page1">1</span>/<span id="total-page1"></span> </br>
                (<span id="total-clips1"></span>)</p>
            </nav>
        </div>
    </div>
</center>

</div>
<script>
    var inverted = false;
    var maxPage = 0;
    var data = {{ data|tojson }};
    var emojis = {{ emoji_lookup_table|tojson }};
    var channel_name = "{{ channel_name }}";
    var channel_image = "{{ channel_image }}";
    var filter = "all";  // Default filter option
    var clipsPerPage = 50;
    var currentPage = 1;
    var iview = true;
    var logged_in_for = "{{ current_user.username}}"
    var can_edit = {{can_edit|tojson|safe}} // can also be used as can_download 
    if(logged_in_for.toLowerCase() == "admin"){
        can_edit = true;
    }
    if(channel_name="all"){
        iview = false;
        document.getElementById("iview").checked = iview;
    }
    function copySimplifiedString(){
        var simplifiedString = {{ clips_string | tojson }};
        navigator.clipboard.writeText(simplifiedString);
        ssbutton = document.getElementById("ssbutton");
        ssbutton.innerHTML = "<i class='fa-solid fa-clipboard-check'></i> Copied!";
        ssbutton.style.color = "lightgreen";
    }
    document.getElementById("iview").addEventListener("click", function () {
        if (iview == true) {
            iview = false;
        } else {
            iview = true;
        }
        updateClips();
    });
    document.getElementById("search").addEventListener("keyup", function () {
        currentPage = 1; // Reset to the first page when the search changes
        // put the search in the url
        var url = new URL(window.location.href);
        url.searchParams.set('q', this.value);
        window.history.pushState({ q: this.value }, '', url);
        updateClips();
    });
    window.addEventListener("popstate", function () {
        console.log("Popstate event triggered");
        // if the change of url is either addition of "#" then ignore this
        if (window.location.hash && window.location.hash !== '#') {
            return; // Ignore changes that are just hash changes
        }
        // Get the current value of `q` from the URL
        var urlParams = new URLSearchParams(window.location.search);
        var query = urlParams.get('q') || '';

        var filterValue = urlParams.get('f') || 'all';
        // Update the search input value
        document.getElementById("search").value = query;
        // Update the filter select value
        var filterSelect = document.getElementById("filter");
        var filteroptions = document.getElementById("filter").options;
            for (var i = 0; i < filteroptions.length; i++) {
                if (filteroptions[i].value === filterValue) {
                    filteroptions[i].selected = true;
                    filter = filterValue; // Update the filter variable
                    break;
                }
            }

        // Reset to first page and update clips
        currentPage = 1;
        updateClips();
    });


    document.getElementById("filter").addEventListener("change", function () {
        filter = this.value;
        currentPage = 1; // Reset to the first page when the filter changes
        // put the filter in the url
        var url = new URL(window.location.href);
        url.searchParams.set('f', filter);
        window.history.pushState({ f: this.value }, '', url);
        updateClips();
    });

    prev_buttons = document.getElementsByName("prev-button");
    next_buttons = document.getElementsByName("next-button");
    invert_buttons = document.getElementsByName("invert-button");
    for(let i=0; i<prev_buttons.length; i++){
        prev_buttons[i].addEventListener("click", function(e){prev(e)})
    }
    for(let i=0; i<next_buttons.length; i++){
        next_buttons[i].addEventListener("click", function(e){next(e)})
    }
    for(let i=0; i<invert_buttons.length; i++){
        invert_buttons[i].addEventListener("click", function(e){invert(e)})
    }

    function prev(e) {
        e.preventDefault();
        if (currentPage > 1) {
            currentPage--;
            updateClips();
        }
    };

    function next(e) {
        e.preventDefault();
        if(maxPage==0){
            maxPage = Math.ceil(data.length / clipsPerPage);
        }
        if (currentPage < maxPage) {
            currentPage++;
            updateClips();
        }
    };

    function invert(e) {
        e.preventDefault();
        if (inverted) {
            inverted = false;
        } else {
            inverted = true;
        }
        currentPage = 1; // Reset to the first page when the filter changes
        updateClips();
    };

    function escape(text){
        return text.replaceAll("&", "&amp;").replaceAll("<", "&lt;").replaceAll(">", "&gt;");
    }

    function add_yt_emojis(text){
        var new_text = text;
        for (var key in emojis) {
            var link = `<img height="24" width="24"  src="${emojis[key]}" loading="eager" aria-label="${key}" alt="${key}">`;
            new_text = new_text.replaceAll(key, link);
        }
        return new_text;
    }
    
    function addtosearch(to_add){
        var search = document.getElementById("search");
        search.value = to_add;
        updateClips();
    }
    function open_embed(stream_link){
        // make a new element that comes on top of the screen with the video
        // make the video autoplay
        var div = document.createElement("div");
        div.id = "video";
        div.style.position = "fixed";
        div.style.zIndex = "1";
        div.style.left = "0";
        div.style.top = "0";
        div.style.width = "100%";
        div.style.height = "100%";
        div.style.overflow = "hidden";
        div.style.backgroundColor = "rgb(0,0,0)";
        div.style.backgroundColor = "rgba(0,0,0,0.4)";
        div.innerHTML = `<iframe height="80%" width="80%" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" transform src="${stream_link}&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> `;
        document.body.appendChild(div);
        div.addEventListener("click", function(){
            div.remove();
        });

    }
    function do_magic(clip_id){
        var clip = null;
        for(i=0; i<data.length; i++){
            if(data[i]['id'] == clip_id){
                clip = data[i];
                break;
            }
        }
        if(clip == null){
                return;
        }
        var link = clip['link'].replaceAll("youtu.be/", "www.youtube.com/embed/").replaceAll("?t=", "?start=");
        open_embed(link);
    };
    function updateClips() {
        var container = document.getElementById("clips-container");
        var search = document.getElementById("search").value.toLowerCase().trim();
        var filteredData = data.filter(({ message, author, id, stream_id }) => {
            var searchLower = search.toLowerCase().trim();
            return (
                message.toLowerCase().includes(searchLower) || 
                author.name.toLowerCase().includes(searchLower) || 
                id.toLowerCase().includes(searchLower) ||
                stream_id.toLowerCase().includes(searchLower)
            ) && (filter === 'all' || author.level === filter);
        });

        if (inverted) {
            filteredData = filteredData.reverse();
        }
        container.innerHTML = "";
        var startIndex = (currentPage - 1) * clipsPerPage;
        var endIndex = startIndex + clipsPerPage;
        var displayedClips = filteredData.slice(startIndex, endIndex);
        if(displayedClips[0]){
            var last_id = displayedClips[0]['stream_id'];
        }
        else{
            var last_id= null;
        }
        if(document.body.classList.contains("dark-theme")){
            a_class = "dark-theme"
        }
        else{
            a_class = ""
        }
        displayedClips.forEach(function (clip) {
            if(clip['stream_id'] != last_id && iview == true) {
                // Add a separator between clips from different streams
                var separatorHtml = `<div class="col-md-12">`;
                separatorHtml += `<hr>`;
                separatorHtml += `</div>`;
                container.innerHTML += separatorHtml;
                last_id = clip['stream_id'];
            }
            var badges = "";
            if(clip['discord']['webhook']){
                badges += `<a href=${clip['discord_url']}><i class="fa-brands fa-discord"></i> </a>`;
            }
            if(clip['private']){
                badges += '<i class="fa-solid fa-eye-slash"></i>'
            }
            var sd_thumbnail = `https://i.ytimg.com/vi/${clip['stream_id']}/sddefault.jpg`;
            var hq_live_thumbnail = `https://i.ytimg.com/vi/${clip['stream_id']}/hqdefault_live.jpg`;
            if(clip['discord']['ss_link']){
                var thumbnail = clip['discord']['ss_link'];
                var alternative = sd_thumbnail;
                badges += `<a href="${clip['discord'['ss_link']]}" target=_blank><i class="fa-solid fa-image"></i> </a>`;
            }
            else{
                var thumbnail = sd_thumbnail;   
            }
            badges += `<a href="${clip['link']}" target=_blank><i class="fa-brands fa-youtube"></i></a> `;
            var is_checked = localStorage.getItem(clip['id']) ? 'true' : '';
            var edit_button = "";
            var download_button = "";
            if(can_edit){
                edit_button = `<a href="#${clip['id']}" onclick="edit(this)"> <i class="fa-solid fa-pencil"></i></a>`;
            }
            var delete_button = "";
            if(can_edit){
                delete_button = `<button style="position: absolute; left: 2px; top: 2px;" type="button" class="btn btn-outline-danger " onclick="del(this)"><i class="fa-regular fa-trash-can"></i></button>`;
                download_button = `<a href="${clip.download_link}"> <button style="position: absolute; right: 2px; top: 2px;" type="button" class="btn btn-outline-primary ")"><i class="fa-solid fa-download"></i></button> </a>`;
            }
            var card_img = `<img class="card-img-top" src="${thumbnail}" alt="Card image cap" onerror="this.src='${alternative}';" onload="if(this.naturalHeight==90 && this.naturalWidth==120){this.src='${hq_live_thumbnail}';this.onload='';}">`
            var delay = parseInt(clip['delay'])*-1;
            if(delay > 0){
                delay = `+${delay}`;
            }
            else{
                delay = `${delay}`;
            }
            var cardHtml = `<div class="col-md-4 col-lg-3">
                <div class="card ${getBorderStyle(clip['author']['level'])}" id="${clip['id']}" style="width: 100%;">
                    ${download_button}
                    <a href="#${clip.id}" class='${a_class}' onclick='do_magic("${clip.id}");' id='${clip.id}-thumbnail'>
                        ${card_img}
                    </a>
                    <center>
                        <a title="More clip from this stream" href="#search" onclick="addtosearch('${clip['stream_id']}')">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        ${clip['id']}
                        <a href="#${clip['id']}">
                            <i class="fa-solid fa-link"></i>
                        </a>
                        </br>${badges}
                    </center>
                    <div class="card-body">
                        <!-- Description first -->
                        <a href="${clip['link']}" target="_blank" class='${a_class}'>
                            <p class="card-text">
                                <i class="fa-solid fa-clipboard-list"></i> ${add_yt_emojis(escape(clip['message']))}${edit_button}</br>
                            </p>

                            <a href="${getUserChannelLink(clip['author']['id'])}" target="_blank" class='${a_class}'>
                                <i class="fa-solid fa-user"></i> ${getAuthorTitle(clip['author']['level'])} ${escape(clip['author']['name'])}
                            </a>
                            <p lang="en" class="card-text">
                                <i class="fa-solid fa-clock"></i> At ${clip['hms']} (${delay}s)</br>
                                <span title="${clip['time']}">
                                    <i class="fa-solid fa-clock-rotate-left"></i> ${clip['timesince']}
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="card-footer checkbox-wrapper-2 d-flex align-items-center gap-2">
                        <select id="ot-pov-${clip['id']}" aria-label="Default select example" onfocus="populateselect('${clip['id']}')" onChange="other_pov('${clip['id']}')">
                            <option value="">Select other POV</option>
                        </select>
                        <input type="checkbox" class="sc-gJwTLC ikxBAC" id=${clip['id']} value=${clip['id']} onclick='handleClick(this);' ${is_checked ? 'checked' : ''}>
                        
                    </div>
                    <div>${delete_button}</div>
                </div>
            </div>`;


            container.innerHTML += cardHtml;
            
        });
        initTheme()

        /*
        displayedClips.forEach(clip => {
            var elem = document.getElementById(clip['id']);
            elem.addEventListener("contextmenu", function (e) {
                var top = e.pageY - 10;
                var left = e.pageX - 10;
                e.preventDefault();
            });
        });
        */
        maxPage = Math.ceil(filteredData.length / clipsPerPage);
        document.getElementById("current-page").innerHTML = currentPage;
        document.getElementById("total-page").innerHTML = maxPage;
        end = endIndex > filteredData.length ? filteredData.length : endIndex;
        document.getElementById("total-clips").innerHTML = `${startIndex + 1}-${end} of ${filteredData.length}`;

        document.getElementById("current-page1").innerHTML = currentPage;
        document.getElementById("total-page1").innerHTML = maxPage;
        end = endIndex > filteredData.length ? filteredData.length : endIndex;
        document.getElementById("total-clips1").innerHTML = `${startIndex + 1}-${end} of ${filteredData.length}`;
        console.log("Updated clips");
    }
    function getUserChannelLink(authorId) {
        return `https://www.youtube.com/channel/${authorId}`;
    }

    function edit(element){
        clip_id = element.href.split("#")[1];
        // change the field to an input field
        // add a save button
        // add a cancel button
        var clip_description = "";
        for(var i=0; i<data.length; i++){
            if(data[i]['id'] == clip_id){
                clip_description = data[i]['message'];
            }
        }
        if(clip_description == ""){
            return;
        }
        console.log("Editing clip: " + clip_id);
        element.parentElement.innerHTML = `<input type="text" id="edit-${clip_id}" style="width:90%" value="${clip_description}"> <br> <button type="button" class="btn btn-primary" onclick="save(this)">Save</button> <button type="button" class="btn btn-danger" onclick="cancel(this)">Cancel</button>`;
    }

    function save(element){
        clip_id = element.parentElement.parentElement.parentElement.id;
        new_message = element.parentElement.firstChild.value;
        // send a request to the server to update the message
        fetch("/webedit", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',

            },
            body: JSON.stringify(
                {
                    message: new_message,
                    clip_id: clip_id
                }),
        })
        .then(response => response.status == 200 ? response.text() : Promise.reject(response))
        .then(d => {
            for(var i=0; i<data.length; i++){
                if(data[i]['id'] == clip_id){
                    data[i]['message'] = d;
                    break;
                }
            }
        }).then(() => {
            updateClips();
        })
    }
    function cancel(element){
        updateClips();  // refresh the clips
    }

    function del(element){
        clip_id = element.parentElement.parentElement.id;
        element.parentElement.parentElement.parentElement.classList.add("bouncing-gradient-red");
        // send a request to the server to delete the clip
        fetch("/webdelete", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',

            },
            body: JSON.stringify(
                {
                    clip_id: clip_id
                }),
        })
        .then(response => response.status == 200 ? response.text() : Promise.reject(response))
        .then(d => {
            for(var i=0; i<data.length; i++){
                if(data[i]['id'] == clip_id){
                    data.splice(i, 1);
                    break;
                }
            }
        }).then(() => {
            updateClips();
        })  
    }
    function getBorderStyle(level) {
        switch (level) {
            case 'moderator':
                return 'border-primary';
            case 'subscriber':
                return 'border-success';
            case 'owner':
                return 'border-warning';
            case 'automated':
                return 'border-danger'; 
            default:
                return 'border-secondary';
        }
    }

    function getAuthorTitle(level) {
        switch (level) {
            case 'owner':
                return '{{ owner_icon }}';
            case 'moderator':
                return '{{ mod_icon }}';
            case 'subscriber':
                return '{{ subscriber_icon }}';
            case 'regular':
                return '{{ regular_icon }}';
            case 'automated':
                return '{{ automated_icon }}';
            default:
                return '';
        }
    }

    function handleClick(cb){
        if(cb.checked){
            localStorage.setItem(cb.id, true);
        }
        else{
            localStorage.removeItem(cb.id);   
        }
    }
    var other_streamers = [];
    function populateselect(clip_id){
        var select = document.getElementById("ot-pov-"+clip_id);
        select.innerHTML = '<option value="" selected>Select other POV</option>';
        for (var i = 0; i < other_streamers.length; i++) {
            var option = document.createElement("option");
            option.value = other_streamers[i]['id'];
            option.text = other_streamers[i]['name'];
            select.appendChild(option);
        }
    }
    function other_pov(clip_id) {
        // Get the select element and its value
        var select = document.getElementById("ot-pov-" + clip_id);
        var selected_value = select.value;

        // Replace the select with a loading spinner
        var container = select.parentElement;
        // put class bouncing-gradient to it
        container.classList.add("bouncing-gradient");
        // Make the POST request
        fetch("/get_other_pov", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                clip_id: clip_id,
                streamer_id: selected_value
            }),
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(errorText => {
                    throw new Error("Error: " + errorText);
                });
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            if (data['timestamp_url']) {
                var link = "https://www.youtube.com/embed/"+data['other_stream_id']+"?start="+data['offset_seconds']+"&autoplay=1";
                console.log(link);
                open_embed(link);
            } else {
                alert("No clips found for this streamer.");
            }
        })
        .catch(error => {
            alert(error.message);
        })
        .finally(() => {
            updateClips(); // Always refresh clips regardless of success or error
        });
    }


    // Initial update when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        // check if there is a search query in the url
        var urlParams = new URLSearchParams(window.location.search);
        var searchQuery = urlParams.get('q');
        if (searchQuery) {
            document.getElementById("search").value = searchQuery;
        }
        // check if there is a filter in the url
        var filterQuery = urlParams.get('f');
        if (filterQuery) {
            // filteroptions 
            var filteroptions = document.getElementById("filter").options;
            for (var i = 0; i < filteroptions.length; i++) {
                if (filteroptions[i].value === filterQuery) {
                    filteroptions[i].selected = true;
                    filter = filterQuery; // Update the filter variable
                    break;
                }
            }
            
        }

        updateClips();
        fetch('/get_other_streamers', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            other_streamers = data;
        })
    });
</script>
{% endblock %}