{% extends 'layout.html' %}


{% block head_content%}
<title> StreamSnip </title>
{% set channel_names = [] %}
{% for channel in data[:10] %}
    {% set _ = channel_names.append(channel['name']) %}
{% endfor %}
{% set channel_names_str = channel_names|join(', ') %}
<meta property="og:image" content="https://streamsnip.com/static/logo-grey.png" />
<meta property="og:description" content="A way for streamers to clip stuff with single nightbot command. used mainly in IGC 
{{channel_names_str}}" />
<meta property="og:title" content="StreamSnip" />
<script>
    is_home = true; 
</script>
{% endblock %}

{% block content %}
<center>
    <div class="container">
        <div class="row">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/iqvnhs89V48" title="streamsnip intro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <center>
                    <input type="text" id="search" class="form-control search" placeholder="Search for channels..." style="border: 0px;">
                </div>
            </div>
            <div id="clips-container" class="row">
            {% for channel in data[:51] %}
                <div class="col-3">
                    <span title="{{channel['last_clip']['timesince']}}">
                        <a href="{{ channel['link'] }}">
                            <div class="card noborder">
                                <img class="card-img-top rounded" src="{{ channel['image'] }}" alt="Card image cap" load="lazy">
                                <div class="card-body card-no-left-right-padding">
                                    {% if channel['deleted'] %}
                                    <h6 class="card-title" id="{{ channel['id'] }}"> DELETED CHANNEL ( {{ channel['id'] }} )</h6>
                                    {% else %}
                                    <h6 class="card-title" id="{{ channel['id'] }}">{{ channel['name'] }}</h6>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </span>
                </div>
            {% endfor %}
            <div class="col-3" id="more-card">
                <a href="#a" onclick="set_all()">
                    <div class="card noborder">
                        <img class="card-img-top rounded" src="/static/right.png" alt="Card image cap" load="lazy" id="more-img">
                        <div class="card-body card-no-left-right-padding">
                            <h6 class="card-title"> See More </h6>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </div>
    </div>
</center>
<script>
    var data = {{ data|tojson }};

    document.getElementById("search").addEventListener('input', function(event) {
        update_channels(data);
    });
</script>
{% endblock %}
