{% extends 'layout.html' %}


{% block head_content%}
<title> StreamSnip </title>
{% set channel_names = [] %}
{% for channel in data[:10] %}
    {% set _ = channel_names.append(channel['name']) %}
{% endfor %}
{% set channel_names_str = channel_names|join(', ') %}
<meta property="og:image" content="https://streamsnip.com/static/logo-grey.png" />
<meta property="og:description" content="A way for streamers to clip stuff with single nightbot command. used mainly in IGC 
{{channel_names_str}}" />
<meta property="og:title" content="StreamSnip" />
<script>
    is_home = true; 
</script>
{% endblock %}

{% block content %}
<center>
    <div class="container">
        <div class="row">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/iqvnhs89V48" title="streamsnip intro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Search and Sort">
                    <ul class="pagination" style="display: flex; align-items: center; justify-content: center;">
                        <li class="page-item" id="search-container" style="flex-grow: 1;">
                            <input type="text" id="search" class="form-control search" placeholder="Search for channels..." style="border: 0px; width: 100%;">
                        </li>
                        <li class="page-item" id="sort-container">
                            <select name="sortby" id="sortby" class="form-select" onchange="update_sort_by()" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px">
                                <option selected value="default">Default</option>
                                <option value="alphabetical">Alphabetical</option>
                                <option value="sub_count">Sub Count</option>
                                <option value="clip_count">Clip Count</option>
                                <option value="first_clip">First Clip Time</option>
                            </select>
                        </li>
                        <li class="page-item" id="invert-page">
                            <a class="page-link" href="#" aria-label="Invert" name="invert-button" onclick="inverse_sort_by()"> 
                                <span aria-hidden="true">↑↓</i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="clips-container" class="row"></div>
    </div>          
    </div>
</center>
<script>
    var data = {{ data|tojson }};
    var all=false;
    var sort_by = "default";
    function update_sort_by(){
        sort_by = document.getElementById("sortby").value;
        add_channel_to_container(all=all);
    }
    var inverse = false;    
    function inverse_sort_by(){
        if(inverse){
            inverse = false;
        }
        else{
            inverse = true;
        }
        add_channel_to_container(all=all);
    }

    function set_all(){
        all = true;
        var moree_img = document.getElementById("more-img");
        moree_img.src = "https://media.tenor.com/wpSo-8CrXqUAAAAi/loading-loading-forever.gif";
        add_channel_to_container(all=all);
        return true;
    }
    function add_channel_to_container(all=false, data_=null){
        if(data_){
            data = data_;
        }
        var original_data = data;
        // make a local copy of data so that we don't loose the order for default.
        data = JSON.parse(JSON.stringify(data)); // stupid JS 
        if(sort_by == "alphabetical"){
            data.sort((a, b) => (a['name'] > b['name']) ? 1 : -1);
        }
        else if(sort_by == "sub_count"){
            data.sort((a, b) => (a['sub_count'] < b['sub_count']) ? 1 : -1);
        }
        else if(sort_by == "clip_count"){
            data.sort((a, b) => (a['clip_count'] < b['clip_count']) ? 1 : -1);
        }
        else if(sort_by == "first_clip"){
            data.sort((a, b) => (a['first_clip_time'] > b['first_clip_time']) ? 1 : -1);
        }
        else{
            data = original_data;
        }
        if(inverse){
            data.reverse();
        }
        console.log("Adding channels to container");
        var container = document.getElementById("clips-container");
        var limit = 50;
        if(all){
            limit = data.length;
        }
        if(data.length < limit){
            limit = data.length;
        }
        search_query = document.getElementById("search").value;
        temporary_html = "";
        for(var i=0; i<limit;i++){
            if(search_query){
                if(!data[i]['name'].toLowerCase().includes(search_query.toLowerCase())){
                    continue;
                }
            }
            var html = ""
            var html = html + '<div class="col-3">';
            html = html + `<span title="Last Clip - ${data[i]['last_clip']['timesince']}\n${data[i]['sub_count']} Subscribers\nFirst Clip - ${data[i]['first_clip_timesince']}\n${data[i]['clip_count']} Clips">`
            html = html + '<a href="'+data[i]['link']+'">';
            html = html + '<div class="card noborder">';
            html = html + '<img class="card-img-top rounded" src="'+data[i]['image']+`" alt="Card image cap" load="lazy" onerror="this.src='https://i.pinimg.com/564x/3b/27/a8/3b27a87fcf7d90ae564be23d7a37f778.jpg';this.onerror=''">`;
            html = html + '<div class="card-body card-no-left-right-padding">';
            if(data[i]['deleted']){
                html = html + '<h6 class="card-title" id="'+data[i]['id']+'"> DELETED CHANNEL ( '+data[i]['id']+' )</h6>';
            }else{
                html = html + '<h6 class="card-title" id="'+data[i]['id']+'">'+data[i]['name']+'</h6>';
            }
            html = html + '</div>';
            html = html + '</div>';
            html = html + '</a>';
            html = html + '</span>';
            html = html + '</div>';
            temporary_html = temporary_html + html;
        }
        container.innerHTML = temporary_html;
        if(all){
            // destroy the more card
            var more_card = document.getElementById("more-card");
            if(more_card){
                more_card.innerHTML = "";
            }
        }
        else{
            // create a more card
            var html = ""
            var html = html + '<div class="col-3" id="more-card">';
            html = html + '<a href="#a" onclick="set_all()">';
            html = html + '<div class="card noborder">';
            html = html + '<img class="card-img-top rounded" src="/static/right.png" alt="Card image cap" load="lazy" id="more-img">';
            html = html + '<div class="card-body card-no-left-right-padding">';
            html = html + '<h6 class="card-title"> See More </h6>';
            html = html + '</div>';
            html = html + '</div>';
            html = html + '</a>';
            html = html + '</div>';
            container.innerHTML = container.innerHTML + html;
        }
        data = original_data;
    }
    document.addEventListener("DOMContentLoaded", function(event) {
        add_channel_to_container(all=false);
    });
    document.addEventListener("scroll", (event) => {
        // if the current position is more or at 80% of page height. then call set_all()
        if(window.scrollY >= (document.body.scrollHeight - window.innerHeight) * 0.8){
            if(!all){
                set_all();
            }
        }
    } )
    document.getElementById("search").addEventListener('input', function(event) {
        if(!all){
            set_all();
        }
        else{
            add_channel_to_container(all=all);
        }
    });
</script>
{% endblock %}
