<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Streamline clipping youtube livestream with the help of your viewers">
    <meta name="keywords" content="Livestream, youtube, streamsnip, !clip, nightbot, nightobt-clip">
    <meta name="author" content="Suraj Bhari">

    <meta property="og:title" content="StreamSnip - Stream Clipping Simplified" />
    <meta property="og:image" content="https://streamsnip.com/static/logo.png" />
    <title>StreamSnip - Stream Clipping Simplified</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="preload" href="https://media.tenor.com/wpSo-8CrXqUAAAAi/loading-loading-forever.gif" as="image"> 
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script>
        var is_home = false; // this will be overwritten on home page only
        var is_first_load = true;
        var all = false; 
        
        function update_theme(){
            var isDarkTheme = localStorage.getItem("darkTheme") === "true";
            const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)");
            var form_control = document.getElementsByClassName("form-control");
            var a = document.getElementsByTagName("a");
            // append "select" objects to "a" list 
            var select = document.getElementsByTagName("select");
            if (!localStorage.getItem("darkTheme")) {
                if (darkThemeMq.matches) {
                    isDarkTheme = true;
                }
            }
            if (!window.matchMedia){ // for phone we just assume dark theme
                isDarkTheme = true;
            }
            var body = document.body;
            var theme_button = document.getElementById("theme_button");
            var navbar = document.getElementById("navbar_id");
            var site_icon = document.getElementById("site_icon");
            if (isDarkTheme) {
                body.classList.add("dark-theme");
                for (var i = 0; i < form_control.length; i++) {
                    form_control[i].classList.add("dark-theme");
                }
                for (var i = 0; i < a.length; i++) {
                    a[i].classList.toggle("dark-theme");
                }
                for(var i=0; i<select.length; i++){
                    select[i].classList.add("dark-theme");
                }
            }
            else{
                body.classList.remove("dark-theme");
                for (var i = 0; i < form_control.length; i++) {
                    form_control[i].classList.remove("dark-theme");
                }
                for (var i = 0; i < a.length; i++) {
                    a[i].classList.toggle("dark-theme");
                }

                for(var i=0; i<select.length; i++){
                    select[i].classList.remove("dark-theme");
                }
            }
            if(isDarkTheme){
                theme_button.innerHTML = '<i class="fa-solid fa-moon"></i>';
                navbar.classList.add("bg-dark");
                navbar.classList.remove("bg-light");
                navbar.classList.add("navbar-dark");
                navbar.classList.remove("navbar-light");
                site_icon.src = "/static/logo.svg";
            } else {
                theme_button.innerHTML = '<i class="fa-solid fa-sun"></i>';
                navbar.classList.remove("bg-dark");
                navbar.classList.add("bg-light");
                navbar.classList.remove("navbar-dark");
                navbar.classList.add("navbar-light");
                site_icon.src = "/static/logo-grey.svg";
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            // Check user preference and set the initial theme
            update_theme();
        });
        function toggleDarkTheme() {
            isDarkTheme = document.body.classList.contains("dark-theme");
            if(isDarkTheme){
                document.body.classList.remove("dark-theme");
            } else {
                document.body.classList.add("dark-theme");
            }
            localStorage.setItem("darkTheme", !isDarkTheme);
            update_theme();
        }

        
        function update_mini_stats(){
            if(!is_first_load && document.hidden){
                return; // why care to update if the page is not visible
            }
            if(is_home){
                link = "/mini_stats?home=true";
            }
            else{
                link = "/mini_stats";
            }
            fetch(link).then((response) => response.json()).then((data) => {
                var last_clip = data.last_clip;
                var last_clip_time = document.getElementById("last_clip_time");
                if(last_clip){
                    last_clip_time.innerHTML = `   Last Clip - ${last_clip.timesince}`;
                    var today_count = data.today_count;
                    var today_count_element = document.getElementById("today_count");
                    today_count_element.innerHTML = '<i class="fa-solid fa-clipboard-list"></i>' + today_count + " Clips Today";
                }
                var data = data.data;
                if(is_home){
                    add_channel_to_container(all=all, data=data);
                }
                is_first_load = false;
            });
            
        }
        document.addEventListener("DOMContentLoaded", function () {
            document.body.classList.add("loaded");
            update_mini_stats();
            setInterval(update_mini_stats, 30000);
        });
    </script>
    {% block head_content %}
    {% endblock %}
</head>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar_id">
            <a class="navbar-brand" href="/"><img src="/static/logo-grey.svg" alt="logo" width="32" height="32" class="bi me-2" id="site_icon">StreamSnip</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="update_mini_stats()"><i id="today_count"></i>&nbsp; &nbsp;<i id="last_clip_time"></i></a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="/exports"><i class="fa-solid fa-earth-asia"></i> All Clips</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/SurajBhari/streamsnip?tab=readme-ov-file#nightbot-command"><i class="fa-solid fa-plus"></i> Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://forms.gle/NgF67HBR69CxAcvJ8"><i class="fa-solid fa-link"></i> Connect with Discord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://chromewebstore.google.com/detail/streamsnip/jpnlipcmklpfniaheflfnkomjdkhiani"><i class="fa-solid fa-puzzle-piece"></i> Chrome Extension</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stats"><i class="fa-solid fa-chart-line"></i> </a>
                    </li>
                    <li class="nav-item" title="Discord">
                        <a class="nav-link" href="https://discord.gg/2XVBWK99Vy"><i class="fa-brands fa-discord"></i> </a>
                    </li>
                    <li class="nav-item" title="Toggle Theme">
                        <a class="nav-link" href="#" onclick="toggleDarkTheme()" id="theme_button"></a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/settings"><i class="fa-solid fa-gear"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                <i class="fa-solid fa-sign-out"></i> Logout, {{current_user.name}}
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><i class="fa-solid fa-sign-in"></i></a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>       
    </div>
</header>
<div id="loader-wrapper">
    <img src="/static/logo.svg" id="loader" alt="site logo">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="mb-3 mb-md-0 text-muted">© 2024 Suraj Bhari | <a href="https://github.com/surajbhari/streamsnip">Source Code </a></span>
    </div>
    <span style="color: rgba(33, 37, 41, 1);">You are weird for using light theme</span>
</footer>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>

</html>