{% extends 'layout.html' %}


{% block head_content%}
<title> StreamSnip </title>
<meta property="og:image" content="https://streamsnip.com/static/logo.png" />
<meta property="og:title" content="StreamSnip" />
{% endblock %}
{% block content %}

<div class="login form-control">
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>
    
    
</div>

{% endblock %}