{% extends 'layout.html' %}

{% block head_content %}
<title>Membership</title>
<meta property="og:title" content="Membership" />
<meta property="og:description" content="Membership Details" />
<meta property="og:url" content="/membership" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred/dist/chartjs-plugin-deferred.min.js"></script>
<script>
    function sub(type, amount) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/pay';
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'type';
        input.value = type;
        form.appendChild(input);
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'amount';
        input.value = amount;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }

    function upgrade(type) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/upgrade';
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'type';
        input.value = type;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }

    function updatechangebutton() {
        var select = document.getElementById('membershipSelect');
        var button = document.getElementById('membershipchangebutton');
        if (select.value == "{{ membership.type }}") {
            button.disabled = true;
        } else {
            button.disabled = false;
        }
    }
</script>
<style>
    .card-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .card {
        flex: 1;
        max-width: 300px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .pro-card {
        background: #b8b8b8;
        color: black;
        transform: scale(1.05);
    }

    .pro-card.dark-theme {
        background: #626262;
        color: white;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .membership-details {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    table, th, td {
        border: 1px solid black;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .card-group {
            flex-direction: column;
            align-items: center;
        }

        .card {
            width: 90%;
            max-width: none;
        }
    }

</style>
{% endblock %}

{% block content %}

<div class="membership-details">
    <h2>Your Membership Details</h2> 
    Your current membership:<h3>{{ membership.type }}</h3></br>
    Days left: <h3>{{ membership.days_left }}</h3></br>
    {% if membership.free_trial %}<h2>FREE TRIAL</h2><h5></h5>{% endif %}
</div>
<br>
<div class="card-group">
    <div class="card">
        <h5 class="card-title">Basic</h5>
        <h6 class="card-subtitle mb-2 "><del>200₹/28 days</del></h6>
        <h5 class="card-subtitle mb-2 ">99₹/28 days</h5>
        <p class="card-text">Enjoy essential features:</p>
        <ul>
            <li>Use <code>!clip</code> with default settings</li>
            <li>Unlimited Clips</li>
            <li>Access <code>!edit</code> and <code>!delete</code></li>
            <li>Discord Integration (sending message to discord)</li>
        </ul>
        <div class="dropdown mb-3">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Subscribe
            </button>
            <ul class="dropdown-menu">
              {% for months, price in subscription_model['basic'].items() %}
                <li>
                  <a class="dropdown-item" href="#" onclick="sub('basic', {{ price }})">
                    Subscribe for {{ months }} Month{% if months != 1 %}s{% endif %} ({{ price }}₹)
                  </a>
                </li>
              {% endfor %}
            </ul>
            {% if 'basic' in available_upgrades %}
            <button class="btn btn-primary" onclick="upgrade('basic')">Switch</button>
            {% endif %}
        </div>    
    </div>
    <div class="card pro-card">
        <h5 class="card-title">Pro ⭐</h5>
        <h6 class="card-subtitle mb-2 "><del>300₹/28 days</del></h6>
        <h5 class="card-subtitle mb-2 ">199₹/28 days</h5>
        <p class="card-text">Unlock advanced features:</p>
        <ul>
            <li>Everything in Basic</li>
            <li>Automatic timestamps in comments (BETA)</li>
            <li>Priority customer support</li>
            <li><a href="https://github.com/SurajBhari/streamsnip?tab=readme-ov-file#optional-arguments">Customize all arguments</a></li>
        </ul>
        <div class="dropdown mb-3">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Subscribe
            </button>
            <ul class="dropdown-menu">
              {% for months, price in subscription_model['pro'].items() %}
                <li>
                  <a class="dropdown-item" href="#" onclick="sub('pro', {{ price }})">
                    Subscribe for {{ months }} Month{% if months != 1 %}s{% endif %} ({{ price }}₹)
                  </a>
                </li>
              {% endfor %}
            </ul>
            {% if 'pro' in available_upgrades %}
            <button class="btn btn-primary" onclick="upgrade('pro')">Switch</button>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <h5 class="card-title">Premium 💗</h5>
        <h6 class="card-subtitle mb-2 "><del>500₹/28 days</del></h6>
        <h5 class="card-subtitle mb-2 ">399₹/28 days</h5>
        <p class="card-text">For those who want to support us:</p>
        <ul>
            <li>Includes everything in Basic & Pro</li>
            <li>Pin your channel on top of home page ❤️</li>
        </ul>
        <div class="dropdown mb-3">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Subscribe
            </button>
            <ul class="dropdown-menu">
              {% for months, price in subscription_model['premium'].items() %}
                <li>
                  <a class="dropdown-item" href="#" onclick="sub('premium', {{ price }})">
                    Subscribe for {{ months }} Month{% if months != 1 %}s{% endif %} ({{ price }}₹)
                  </a>
                </li>
              {% endfor %}
            </ul>
            {% if 'premium' in available_upgrades %}
            <button class="btn btn-primary" onclick="upgrade('premium')">Switch</button>
            {% endif %}
        </div>
    </div>
</div>
<div class="membership-details">
    {%if transactions %}
    <h2>Previous Trasactions:</h2>
    <table id="transactions" border="1px solid black">
        <thead>
            <tr>
                <th>Amount</th> 
                <th>Date</th>
                <th>Transaction ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[5] }}</td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}
