{% extends 'layout.html' %}

{% block head_content %}
<title>Membership</title>
<meta property="og:title" content="Membership" />
<meta property="og:description" content="Membership Details" />
<meta property="og:url" content="/membership" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred/dist/chartjs-plugin-deferred.min.js"></script>
<script>
    function sub(amount) {
        document.getElementById('moneyInput').value = amount;
        var form = document.getElementById('moneyForm');
        form.submit();
    }
</script>
<style>
    .card-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .card {
        flex: 1;
        max-width: 300px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .pro-card {
        background: #b8b8b8;
        color: black;
        transform: scale(1.05);
    }

    .pro-card.dark-theme {
        background: #626262;
        color: white;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    #membership-details {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    table, th, td {
        border: 1px solid black;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .card-group {
            flex-direction: column;
            align-items: center;
        }

        .card {
            width: 90%;
            max-width: none;
        }
    }

</style>
{% endblock %}

{% block content %}

<div id="membership-details">
    <h2>Your Membership Details</h2> 
    <h4>Your current balance: {{ balance }}</br>
    Your current membership:{{ membership.type }}</br>
    Esitimated Days left: {{ days_left }}</br>
    Each day usage: {{ each_day }}</br></h4>
    <form action="/pay" method="POST" class="mt-2" id="moneyForm">
        <div class="d-flex align-items-center mb-2">
            <input type="number" name="amount" value="199" class="form-control" style="width: 100px;" placeholder="Money" id="moneyInput">
        </div> 
        <button class="btn btn-primary" type="submit">Add Money</button>
    </form>
    <form action="/change_membership_plan" method="POST" class="mt-3">
        <div class="d-flex align-items-center mb-3">
            <select name="membership" class="form-select" id="membershipSelect">
                {% for a in available %}
                <option value="{{ a }}">{{ a }}</option>
                {% endfor %}
            </select><button class="btn btn-primary" type="submit">Change</button>
        </div>
    </form>
    {%if transactions %}
    <table id="transactions" border="1px solid black">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Transaction ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[4] }}</td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
</div>
<br>
<div class="card-group">
    <div class="card">
        <h5 class="card-title">Basic</h5>
        <h6 class="card-subtitle mb-2 "><del>200₹/28 days</del></h6>
        <h5 class="card-subtitle mb-2 ">99₹/28 days</h5>
        <p class="card-text">Enjoy essential features:</p>
        <ul>
            <li>Use <code>!clip</code> with default settings</li>
            <li>Unlimited Clips</li>
            <li>Access <code>!edit</code> and <code>!delete</code></li>
            <li>Discord Integration (sending message to discord)</li>
        </ul>
        <button class="btn btn-primary" onclick="sub(99)">Subscribe for 28 days</button>
    </div>
    <div class="card pro-card">
        <h5 class="card-title">Pro ⭐</h5>
        <h6 class="card-subtitle mb-2 "><del>300₹/28 days</del></h6>
        <h5 class="card-subtitle mb-2 ">199₹/28 days</h5>
        <p class="card-text">Unlock advanced features:</p>
        <ul>
            <li>Everything in Basic</li>
            <li>Automatic timestamps in comments (BETA)</li>
            <li>Priority customer support</li>
            <li><a href="https://github.com/SurajBhari/streamsnip?tab=readme-ov-file#optional-arguments">Customize all arguments</a></li>
        </ul>
        <button class="btn btn-primary" onclick="sub(199)">Subscribe for 28 days</button>
    </div>
    <div class="card">
        <h5 class="card-title">Love 💗</h5>
        <h6 class="card-subtitle mb-2 "><del>400₹/28 days</del></h6>
        <h5 class="card-subtitle mb-2 ">299₹/28 days</h5>
        <p class="card-text">For those who want to support us:</p>
        <ul>
            <li>Includes everything in Basic & Pro</li>
            <li>Pin your channel on top of home page ❤️</li>
        </ul>
        <button class="btn btn-primary" onclick="sub(299)">Subscribe for 28 days</button>
    </div>
</div>

{% endblock %}
