<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cashfree Checkout Integration</title>
        <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
    </head>
    <body>
        <div class="row">
            <p>Click below to open the checkout page in popup</p>
            <button id="renderBtn">Pay Now</button>
        </div>        <script>
            const cashfree = Cashfree({
                mode: "production",
            });
            const order_id = "{{order_id}}";
            document.addEventListener("DOMContentLoaded", function () {
                openCashfreeCheckout();
            });
            function openCashfreeCheckout() {
                let checkoutOptions = {
                    paymentSessionId: "{{paymentSessionId}}",
                    redirectTarget: "_modal",
                };
                cashfree.checkout(checkoutOptions).then((result) => {
                    console.log(result);    
                    if(result.error){
                        // This will be true whenever user clicks on close icon inside the modal or any error happens during the payment
                        console.log("User has closed the popup or there is some payment error, Check for Payment Status");
                        console.log(result.error);
                        window.location.href = "/membership";
                    }
                    if(result.redirect){
                        // This will be true when the payment redirection page couldnt be opened in the same window
                        // This is an exceptional case only when the page is opened inside an inAppBrowser
                        // In this case the customer will be redirected to return url once payment is completed
                        console.log("Payment will be redirected");
                    }
                    if(result.paymentDetails){
                        // This will be called whenever the payment is completed irrespective of transaction status
                        var body = {
                            order_id: order_id,
                            paymentDetails: result.paymentDetails,
                        };
                        fetch("{{callback}}", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify(body),
                        })
                        .then((response) => {
                            if(response.status === 200){
                                console.log("Payment details sent to server successfully");
                                window.location.href = "/membership";
                            } else {
                                console.log("Error in sending payment details to server");
                                console.log(response.statusText);
                            }
                        })
                    }
                });
            }
            document.getElementById("renderBtn").addEventListener("click", function () {
                openCashfreeCheckout();
            });
        </script>
    </body>
</html>