{% extends 'layout.html' %}

{% block head_content %}
<title>{{ current_user.username }} | Settings </title>
<link rel="icon" href="{{ current_user.image }}" type="image/x-icon">
<meta property="og:title" content="{{ current_user.username }} - Settings" />
<meta property="og:description" content="Settings for {{ current_user.username }}'s stream" />
<title> {{current_user.username}} - Settings</title>
<meta property="og:image" content="{{ current_user.image }}" />
{% endblock %}

{% block content %}
<center>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 d-flex align-items-center">
            <a href="https://youtube.com/channel/{{ current_user.id }}" class="d-flex align-items-center">
                <img src="{{ current_user.image }}" alt="{{ current_user.username }}" class="rounded-circle" style="width: 100px; height: 100px; margin-right: 15px;">
                <h1>{{ current_user.username }}</h1>
            </a>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-end">
            <span>Days Left: {{ membership_details.days_left }}.</span>
            <a href="/membership"><button class="btn btn-primary w-100" type="submit">Membership</button></a>
        </div>        
        
    </div>    
    <div class="row">
        <!--
        show_link
        screenshot 
        delay 
        force_desc 
        silent 
        private 
        webhook 
        message_level 
        take_delays -->
        <p>These settings are number 2 in the priority list. Highest priority is of the request arg i.e in <a href="https://github.com/SurajBhari/streamsnip?tab=readme-ov-file#optional-arguments">this.</a></p>
        <table class="table">
            <tr>
                <td>
                    <div class="tier-basic"></div><br>
                    Delay
                    <p style="font-size: smaller;">This is an artificial delay that is added to timestamp. if the !clip is called at 1:20:40 and with delay of "-40". then it is stored as 1:20:00. so that you always jump into action.</p>
                </td>
                <td>
                    
                    <input type="number" id="delay" class="form-control" style="width: 100%;" value="{{ settings['delay'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tier-pro"></div><br>
                    Show Link
                </td>
                <td>
                    <select id="show_link" onchange="calculatepreview()" {%if not can_edit %} disabled {% endif %}>
                        {% if settings['show_link'] == 1 %}
                            <option value="True" selected>Yes - Will show that 'See all clips at ....' message on clipping.</option>
                            <option value="False">No - Will not show that message.</option>
                        {% else %}
                            <option value="True">Yes - Will show that 'See all clips at ....' message on clipping.</option>
                            <option value="False" selected>No - Will not show that message.</option>
                        {% endif %}
                    </select>
                </td>
                </tr>
            <tr>
                <td>
                    Screenshot
                </td>
                <td>
                    <select id="screenshot" onchange="calculatepreview()" {%if not can_edit %} disabled {% endif %}>
                        {% if settings['screenshot'] == 1 %}
                            <option value="True" selected>Yes - NOT RECOMMENDED. Will post a screenshot of stream alongside the message in discord for better context. </option>
                            <option value="False">No - Will not do any screenshots to discord.</option>
                        {% else %}
                            <option value="True">Yes - NOT RECOMMENDED. Will post a screenshot of stream alongside the message in discord for better context. </option>
                            <option value="False" selected>No - Will not do any screenshots to discord.</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Force Description
                </td>
                <td>
                    <select id="force_desc" onchange="calculatepreview()" {%if not can_edit %} disabled {% endif %}>
                        {% if settings['force_desc'] == 1 %}
                            <option value="True" selected>Yes - Will decline any clips made without any description.</option>
                            <option value="False">No - Will take every clip with or without description</option>
                        {% else %}
                            <option value="True">Yes - Will decline any clips made without any description.</option>
                            <option value="False" selected>No - Will take every clip with or without description</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Silent
                </td>
                <td>
                    <select id="silent" onchange="calculatepreview()" {%if not can_edit %} disabled {% endif %}>
                        <!-- silent can be 0, 1, 2-->
                        {% if settings['silent'] == 0 %}
                            <option value="0" selected>0 - Will give back empty message.</option>
                            <option value="1">1 - Will give back only the Clip ID</option>
                            <option value="2">2 - Default Will give back everything </option>
                        {% elif settings['silent'] == 1 %}
                            <option value="0">0 - Will give back empty message.</option>
                            <option value="1" selected>1 - Will give back only the Clip ID</option>
                            <option value="2">2 - Default Will give back everything </option>
                        {% else %}
                            <option value="0">0 - Will give back empty message.</option>
                            <option value="1">1 - Will give back only the Clip ID</option>
                            <option value="2" selected>2 - Default Will give back everything </option>
                        {% endif %} 
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Private
                </td>
                <td>
                    <select id="private" onchange="calculatepreview()"{%if not can_edit %} disabled {% endif %}>
                        {% if settings['private'] == 1 %}
                            <option value="True" selected>Yes - Will not show any clips on web nor impact stats. will only return 'clipped 😉'</option>
                            <option value="False">No</option>
                        {% else %}
                            <option value="True">Yes - Will not show any clips on web nor impact stats. will only return 'clipped 😉'</option>
                            <option value="False" selected>No</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr id="#webhook">
                <td>
                    Discord Webhook URL (this can also be used as password to login here.)
                </td>
                <td style="position: relative;">
                <input onchange="calculatepreview()" 
                    {% if not can_edit %} disabled {% endif %} 
                    type="password" id="webhook" 
                    class="form-control" style="width: 100%;" 
                    value="{{ settings['webhook'] }}">
                
                <span onclick="toggleWebhookVisibility()" 
                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                    <i id="toggleEye" class="fa-solid fa-eye"></i>
                </span>
            </td>
            </tr>
            <tr>
                <td>
                    Message Level
                </td>
                <td>
                    <select id="message_level" onchange="calculatepreview()" {%if not can_edit %} disabled {% endif %}>
                        <!-- can be 0 or 1 or 2 or 3 -->
                        {%if settings['message_level'] == 0 %}
                            <option value="0" selected>0 - Default - In Discord Show clip message alongside username as webhook user </option>
                            <option value="1">1 - will prevent the IMAGE of the clipper from being shown, Name is still shown within the message </option>
                            <option value="2">2 - Will not show any image/name of the user anywhere in message</option>
                            <option value="3">3 - Will use StreamSnip Branding</option>
                        {% elif settings['message_level'] == 1 %}
                            <option value="0">0 - Default - In Discord Show clip message alongside username as webhook user </option>
                            <option value="1" selected>1 - will prevent the IMAGE of the clipper from being shown, Name is still shown within the message </option>
                            <option value="2">2 - Will not show any image/name of the user anywhere in message</option>
                            <option value="3">3 - Will use StreamSnip Branding</option>
                        {% elif settings['message_level'] == 2 %}
                            <option value="0">0 - Default - In Discord Show clip message alongside username as webhook user </option>
                            <option value="1">1 - will prevent the IMAGE of the clipper from being shown, Name is still shown within the message </option>
                            <option value="2" selected>2 - Will not show any image/name of the user anywhere in message</option>
                            <option value="3">3 - Will use StreamSnip Branding</option>
                        {% else %}
                            <option value="0">0 - Default - In Discord Show clip message alongside username as webhook user </option>
                            <option value="1">1 - will prevent the IMAGE of the clipper from being shown, Name is still shown within the message </option>
                            <option value="2">2 - Will not show any image/name of the user anywhere in message</option>
                            <option value="3" selected>3 - Will use StreamSnip Branding</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Take Delays
                </td>
                <td>
                    <select id="take_delays" {%if not can_edit %} disabled {% endif %}>
                        {% if settings['take_delays'] == 1 %}
                            <option value="True" selected>Yes - will evaluate the first and last word of description to add/substract delay.</option>
                            <option value="False">No</option>
                        {% else %}
                            <option value="True">Yes - will evaluate the first and last word of description to add/substract delay.</option>
                            <option value="False" selected>No</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enable Valorant Clipping (BETA)</td>
                <td>
                    <select id="val_clip_enabled" onchange="toggleValorantFields()" {%if not can_edit %} disabled {% endif %}>
                        {% if settings.riot.enabled %}
                            <option value="True" selected>Yes - Will Auto clip valorant moments after stream ends (BETA).</option>
                            <option value="False">No</option>
                        {% else %}
                            <option value="True">Yes - Will Auto clip valorant moments after stream ends (BETA).</option>
                            <option value="False" selected>No</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tbody id="valorant-fields" style="display: none;">
                <tr>
                    <td>Riot ID</td>
                    <td><input type="text" id="riot_id" class="form-control" value="{{settings.riot.id}}"></td>
                </tr>
                <tr>
                    <td>Tag</td>
                    <td><input type="text" id="riot_tag" value="{{settings.riot.tag}}" class="form-control"></td>
                </tr>
                <tr>
                    <td>Region</td>
                    <td>
                        <select id="riot_region" class="form-control">
                            <option value="ap" {%if settings.riot.region == 'ap'%} selected {%endif%}>AP - Asia Pacific</option>
                            <option value="na" {%if settings.riot.region == 'na'%} selected {%endif%}>NA - North America</option>
                            <option value="eu" {%if settings.riot.region == 'eu'%} selected {%endif%}>EU - Europe</option>
                            <option value="latam" {%if settings.riot.region == 'latam'%} selected {%endif%}>latam - Latin Ameria</option>
                            <option value="br" {%if settings.riot.region == 'br'%} selected {%endif%}>BR - Brazil lalalalalalalalala</option>
                            <option value="kr" {%if settings.riot.region == 'kr'%} selected {%endif%}>KR - Korea</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>3K Clipping</td>
                    <td>
                        <select id="enable_3k" class="form-control">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>4K Clipping</td>
                    <td>
                        <select id="enable_4k" class="form-control">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Clutch Clipping</td>
                    <td>
                        <select id="enable_clutch" class="form-control">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Ace Clipping</td>
                    <td>
                        <select id="enable_ace" class="form-control">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                    </td>
                </tr>
            </tbody>

            <tr>
                <td>
                    <div class="tier-premium"></div><br>
                    Comments
                </td>
                <td>
                    <select id="comments" {%if not can_turn_on_comments %} disabled title="Only Premium Members can use comments." {% endif %}>
                        {% if settings['comments'] == 1 %}
                            <option value="True" selected>Yes - Will post a comment after live stream ends contaning all the clips details.</option>
                            <option value="False">No</option>
                        {% else %}
                            <option value="True">Yes - Will post a comment after live stream ends contaning all the clips details.</option>
                            <option value="False" selected>No</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <button type="button" class="btn btn-success" type="submit" value="Submit" name="add" id="save-button" title="Save" onclick="save_settings()"><i class="fa-regular fa-floppy-disk"></i></button>
                    <button type="button" class="btn btn-secondary" type="reset" value="reset" name="reset" id="reset-button" title="Reset To Default" onclick="reset_settings()"><i class="fa-solid fa-arrow-rotate-left"></i> Reset</button>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Nightbot Response</h4>
                    <div>
                        <img src="" alt="Nightbot Response"  id="nighbot-response-trial1">
                    </div>
                    <div>
                        <img src="" alt="Nightbot Response" id="nighbot-response-trial2">
                    </div>
                </td>
                <td>
                    <h4>Discord Response</h4>
                    <div>
                        <img src="" width="425px" alt="Discord Response"  id="discord-response-trial1">  
                    </div>
                    <div>
                        <img src="" alt="Discord Response" id="discord-response-trial2">  
                    </div>
                </td>
            </tr>
            


        </table>
    </div>
    <!-- a horizontal line -->
    {% if current_user.logins|length > 0 %}
    <div class="row">
        <h2>Previous Logins</h2>
        <h3>Current Session token: {{session["session_token"]}}</h3>
        <table class="table">
            <tr>
                <th>Login Time</th>
                <th>Login ID</th>
                <th>IP Address</th>
                <th>User Agent</th>
            </tr>
            {% for login in current_user.logins %}
            <tr>
                <td>{{ login[4] }}</td>
                <td>{{ login[2] }}</td>
                <td>{{ login[1] }}</td>
                <td>{{ login[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <h2>Account Access</h2>
    <table id="accesses-table" class="table">
        <thead>
            <td>
                Email
            </td>
            <td>
                Time
            </td>
            <td>
                Description
            </td>
            <td>
                Action
            </td>
        </thead>
    {%for a in accesses %}
        <tr>
            <td>
                {{a.email}}
            </td>
            <td>
                {{a.time|humanize_naturaldate()}}
            </td>
            <td>
                {{a.description}}
            </td>
            <td>
                <a href="/settings/revoke-access/{{a.email}}"><i class="fa-regular fa-circle-xmark"></i></a>
            </td>
        </tr>
    {%endfor%}
    <tr>
        <td id="add_new" colspan="4" onclick="addaccess()">
            <i class="fa-regular fa-plus"></i>
        </td>
    </tr>

    </table>
        
</center>

</div>
<script>

    function toggleValorantFields() {
        const isEnabled = document.getElementById("val_clip_enabled").value === "True";
        document.getElementById("valorant-fields").style.display = isEnabled ? "table-row-group" : "none";
    }
    function calculatepreview(){
        calculatediscordpreview();
        calculatenightbotpreview();
    }
    function addaccess(){
        var table = document.getElementById("accesses-table");
        var row = table.insertRow(table.rows.length - 1);
        var email_cell = row.insertCell(0);
        var time_cell = row.insertCell(1);
        var desc_cell = row.insertCell(2);
        var action_cell = row.insertCell(3);

        email_cell.innerHTML = '<input type="email" class="form-control" placeholder="Email" required>';
        desc_cell.innerHTML = '<input type="text" class="form-control" placeholder="Description" required>';
        action_cell.innerHTML = '<button class="btn btn-success" onclick="saveaccess(this)">Save</button>';
    }
    function saveaccess(button){
        var row = button.parentNode.parentNode;
        var email = row.cells[0].children[0].value;
        var desc = row.cells[2].children[0].value;

        if(!email || !desc){
            alert("Please fill all the fields.");
            return;
        }
        response = fetch("/settings/add_access", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: email,
                description: desc
            })
        }).then(response => {
            if (response.ok) {
                console.log("Access saved");
                window.location.reload();
            } else {
                response.text().then(text => {
                    alert("Error: " + text);
                });
            }
        });
    }

    function calculatenightbotpreview(){
        var show_link = document.getElementById("show_link").value == "True";
        var force_desc = document.getElementById("force_desc").value == "True";
        var silent = document.getElementById("silent").value;
        var private = document.getElementById("private").value == "True";
        var answer1 = document.getElementById("nighbot-response-trial1");
        var answer2 = document.getElementById("nighbot-response-trial2");
        if(force_desc){
            answer1.src = "/static/nb_clip_denied.png";
        }
        else{
            answer1.src = "/static/blank.png";
        }

        if(private){
            answer2.src = "/static/nb_private.png";    
            return;
        }

        if(silent == 0){
            answer2.src = "/static/nb_silent_0.png";
        }
        else if(silent == 1){
            answer2.src = "/static/nb_silent_1.png";
        }
        else{
            answer2.src = "/static/nb_silent_2.png";
        }
        if(!show_link && silent == 2){
            answer2.src= "/static/nb_show_link.png";
        }
        return;
    }
    function toggleWebhookVisibility() {
        const input = document.getElementById("webhook");
        const eye = document.getElementById("toggleEye");
        const isPassword = input.type === "password";
        input.type = isPassword ? "text" : "password";
        eye.className = isPassword ? "fa-solid fa-eye-slash" : "fa-solid fa-eye";
    }
    function calculatediscordpreview(){
        var private = document.getElementById("private").value == "True";
        var screenshot = document.getElementById("screenshot").value == "True";
        var message_level = document.getElementById("message_level").value;
        var webhook = document.getElementById("webhook").value;
        var answer1 = document.getElementById("discord-response-trial1");
        var answer2 = document.getElementById("discord-response-trial2");
        if(!webhook || webhook == "None" || webhook == "null" || webhook == "False" || webhook == "False" || webhook == "0" || webhook == 0){
            answer1.src = "/static/discord_no.jpg";
            answer2.src = "/static/blank.png";
            return;
        }
        if(screenshot){
            answer2.src = "/static/discord_screenshot.jpg";
        }
        else{
            answer2.src = "/static/blank.png";
        }
        if(private){
            if(message_level == 0){
                answer1.src = "/static/discord_private_0.png";
            }
            else if(message_level == 1){
                answer1.src = "/static/discord_private_1.png";
            }
            else if(message_level == 2){
                answer1.src = "/static/discord_private_2.png";
            }
            else{
                answer1.src = "/static/discord_private_3.png";
            }
            return;
        }
        if(message_level == 0){
            answer1.src = "/static/discord_0.png";
        }
        else if(message_level == 1){
            answer1.src = "/static/discord_1.png";
        }
        else if(message_level == 2){
            answer1.src = "/static/discord_2.png";
        }
        else{
            answer1.src = "/static/discord_3.png";
        }
        return;

    }
    function delete_login(session_token){
        console.log("Deleting login: " + session_token);
        response = fetch("/settings/delete_login", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                session_token: session_token
            })
        });
        // replace the delete button with a loading gif 
        var delete_button = document.getElementById("delete-" + session_token)
        delete_button.classList.add("bouncing-gradient-red");

        // wait for 1 second
        setTimeout(function(){
            delete_button.innerHTML = "<i class='fa-solid fa-check'></i>";
            window.location.reload();
        }, 1000);
    }
    function reset_settings(){
        var reset_button = document.getElementById("reset-button");
        reset_button.parentElement.classList.add("bouncing-gradient");
        response = fetch("/settings/default", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                reset: true
            })
        }).then(response => {
            if (response.ok) {
                console.log("Settings reset");
                reset_button.innerHTML = "<i class='fa-solid fa-check'></i>";
                reset_button.parentElement.classList.remove("bouncing-gradient");
                window.location.reload();
            } else {
                response.text().then(text => {
                    alert("Error: " + text);
                    window.location.reload();
                });
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function(event) {
        can_edit= {{ can_edit|tojson|safe }};

        if (!can_edit){
            alert("You are not allowed to edit settings. Please upgrade your membership.");
        }
        toggleValorantFields();
        calculatepreview();
    });
    function save_settings(){
        console.log("Saving settings");
        var show_link = document.getElementById("show_link").value;
        var screenshot = document.getElementById("screenshot").value;
        var delay = document.getElementById("delay").value;
        var force_desc = document.getElementById("force_desc").value;
        var silent = document.getElementById("silent").value;
        var private = document.getElementById("private").value;
        var webhook = document.getElementById("webhook").value;
        var message_level = document.getElementById("message_level").value;
        var take_delays = document.getElementById("take_delays").value;
        var comments = document.getElementById("comments").value;
        var save_button = document.getElementById("save-button");
        var val_clip_enabled = document.getElementById("val_clip_enabled").value;
        var riot_id = document.getElementById("riot_id").value;
        var riot_tag = document.getElementById("riot_tag").value;
        var riot_region = document.getElementById("riot_region").value;
        var enable_3k = document.getElementById("enable_3k").value;
        var enable_4k = document.getElementById("enable_4k").value;
        var enable_clutch = document.getElementById("enable_clutch").value;
        var enable_ace = document.getElementById("enable_ace").value;
        // if there is riot id there must be tag
        if(riot_id.length >0 && riot_tag.length == 0){
            alert("Please enter Riot Tag.");
            return;
        }

        save_button.parentElement.classList.add("bouncing-gradient-green");

        response = fetch("/settings", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                show_link: show_link,
                screenshot: screenshot,
                delay: delay,
                force_desc: force_desc,
                silent: silent,
                private: private,
                webhook: webhook,
                message_level: message_level,
                take_delays: take_delays,
                comments: comments,
                val_clip_enabled: val_clip_enabled,
                riot_id: riot_id,
                riot_tag: riot_tag,
                riot_region: riot_region,
                enable_3k:enable_3k,
                enable_4k:enable_4k,
                enable_clutch:enable_clutch,
                enable_ace:enable_ace
            })
        }).then(response => {
            if (response.ok) {
                console.log("Settings saved");
                save_button.innerHTML = "<i class='fa-solid fa-check'></i>";
                save_button.parentElement.classList.remove("bouncing-gradient-green");
                setTimeout(function(){
                    save_button.innerHTML = "<i class='fa-regular fa-floppy-disk'></i>";
                }, 1000);
            } else {
                response.text().then(text => {
                    alert("Error: " + text);
                    window.location.reload();
                });
            }
        })
    }
</script>
{% endblock %}