{% extends 'layout.html' %}


{% block head_content%}
<title> {{channel_name}} - stats </title>
<link rel="icon" href={{ channel_image }} type="image/x-icon">
<meta property="og:title" content="{{ channel_name }} - Stats ({{ data|length }})" />
<meta property="og:description" content="Stats for {{ channel_name }}" />
<meta property="og:image" content="{{ channel_image }}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred/dist/chartjs-plugin-deferred.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="text" id="search" placeholder="Search for {{search_for}}...">
                </div>
            </div>
        </div>
        <center>
        <div class="row">
            <h1> {{message}} </h1>
        </div>
        <div class="row">
            <h1>WordCloud</h1>
            <div id="div-wordcloud" style="width: 100%; height: 100%;">
                <canvas id="wordcloud" width="700" height="700"></canvas>
            </div>
        </div>
        <div class="row">
            <h1>Clip User Piechart</h1>
            <center> <canvas id="pieChart" width="700" height="700"></canvas></center>
        </div>
        <div class="row">
            <canvas id="myChart" width="1000" height="800"></canvas>
        </div>
        <div class="row">
            <canvas id="speedChart" width="1000" height="800"></canvas>
        </div>
        <div class="row">
            <canvas id="timedistribution" width="1000" height="800"></canvas>
        </div>
        {% if clip_users %}
        <h1>
            Top Clippers
        </h1>
        <div class="row">
            {% for user in top_clippers %}
            <div class="col-md-3 col-lg-3">
                <a href="{{ user['link'] }}">
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top" src="{{user['image']}}" alt="User Profile Picture">
                            <div class="card-body">
                                <h5 class="card-title">{{ user['name'] }}</h5>
                                <p class="card-text">{{ user['count'] }} Clips</p>
                                <a href="{{ user['otherlink'] }}" class="btn btn-primary">Stats</a>
                            </div>
                        </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}


        <h1>
            Top Clipped Stream
        </h1>
        <div class="row">
            {% for key, value in most_clipped_streams.items() %}
            <div class="col-md-3 col-lg-3">
                <a href="https://youtube.com/watch?v={{ key }}">
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top" src="https://i.ytimg.com/vi/{{key}}/sddefault.jpg" alt="Stream Thumbnail">
                            <div class="card-body">
                                <h5 class="card-title">{{ value}} Clips</h5>
                            </div>
                        </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% if best_days %}
        <div class="row">
            <h1>Top Days</h1>
            {% for key, value in best_days.items() %}
            <div class="col-md-3 col-lg-3">
                <a href="/ts/{{key}}">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ key }}</h5>
                            <p class="card-text">{{ value }} Clips</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        </br>
    </div>
<script>
    graphs = [];
    var search_route = {{search_route|tojson}};
    const autocolors = window['chartjs-plugin-autocolors'];
    Chart.register(ChartDeferred);
    //Chart.register(autocolors);
    Chart.defaults.plugins.deferred.delay = 250;
    Chart.defaults.plugins.deferred.xOffset = 150;
    Chart.defaults.plugins.deferred.yOffset = 150;
    function randomColor(){
        var r = Math.floor(Math.random()*255);
        var g = Math.floor(Math.random()*255);
        var b = Math.floor(Math.random()*255);
        var a = 0.5;
        return "rgba("+r+","+g+","+b+" ,"+a+")";
    }
    
    document.getElementById("search").addEventListener("keyup", function () {
        var search = document.getElementById("search").value;
        // if len of search is less than 3 then return
        if(search.length < 3){
            // destroy old dropdown menu
            var older = document.getElementById("search-dropdown");
            if(older){
                older.parentElement.removeChild(older);
            } // if there is another dropdown. KILL IT
            return;
        }
        var url = search_route + "/" + search;
        var isDarkTheme = localStorage.getItem("darkTheme") === "true";
        fetch(url)
            .then(response => response.json())
            .then(data => {
                // data is array of array in format of [['option', 'link'], ['option', 'link']....]
                console.log(data.length);
                // create a dropdown
                let div = document.createElement("div");
                div.setAttribute("id", "search-dropdown");
                div.setAttribute("class", "dropdown-c");
                
                var older = document.getElementById("search-dropdown");
                if(older){
                    older.parentElement.removeChild(older);
                } // if there is another dropdown. KILL IT 
                document.getElementById("search").parentElement.parentElement.appendChild(div);
                var options = Array();
                for(var i=0;i<data.length;i++){
                    let a = document.createElement("a");
                    a.classList.add("dropdown-item-c");
                    a.classList.add("btn");                    
                    if(isDarkTheme){
                        //a.classList.add("dark-theme");
                        a.classList.add("btn-outline-light");
                    }
                    else{
                        a.classList.add("btn-outline-dark");
                    }   
                    a.style.width = "100%";                 
                    a.innerHTML = data[i][0];
                    a.setAttribute("href", data[i][1]);
                    a.style.fontSize = "1em";
                    document.getElementById("search-dropdown").appendChild(a);
                }
            });
    });
    function drawCharts(){
        // destroy old chart
        for(var i=0;i<graphs.length;i++){
            graphs[i].destroy();
        }
        var isDark = document.body.classList.contains("dark-theme");
        var fontcolor = isDark == true ? 'white' : 'black';
        Chart.defaults.color = fontcolor;
        var wordcloud_data = {{notes|tojson}};
        var ctx = document.getElementById('wordcloud').getContext('2d');
        if(Object.keys(wordcloud_data).length == 0){
            wordcloud_data = {"": 0};
        }
        // make sure max is not more than 200 if it is then divide all by max
        console.log(wordcloud_data)
        const values = Object.values(wordcloud_data);
        const currentMin = Math.min(...values);
        const currentMax = Math.max(...values);

        // Set the desired min and max values for normalization
        const desiredMin = 40;
        const desiredMax = 150;

        // Function to normalize the value
        const normalizeValue = (value) => {
            return ((value - currentMin) / (currentMax - currentMin)) * (desiredMax - desiredMin) + desiredMin;
        };

        // Normalize all values in the wordcloud_data object
        const normalizedWordcloudData = {};
        for (let key in wordcloud_data) {
            normalizedWordcloudData[key] = normalizeValue(wordcloud_data[key]);
        }
        wordcloud_data = normalizedWordcloudData;
        console.log(wordcloud_data);
        var wordcloud = new Chart(ctx, {
            type: "wordCloud",
            data: {
              labels: Object.keys(wordcloud_data),
              datasets: [
                {
                  label: "",
                  data: Object.values(wordcloud_data)
                }
              ]
            },
            options: {
              plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                    enabled: false
                }
              }
            }
          });
        var ctx = document.getElementById('myChart').getContext('2d');
        var times = {{times|safe}};
        var counts = {{counts|safe}};
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: 'Clips on that day',
                    data: counts,
                    borderWidth: 3,
                    fill: true,
                    backgroundColor: randomColor(), 
                    borderColor: randomColor(), 
                }]
            },
            options: {
                responsive: true,
                plugins:{}
            }
        });
        //lineChart.canvas.parentNode.style.height = '850px';
        //lineChart.canvas.parentNode.style.width = '1200px';


        var ctx = document.getElementById('pieChart').getContext('2d');
        var users = {{clip_users|tojson}};
        var pieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: users.map(subarray => subarray[1])
                }],
                labels: users.map(subarray => subarray[0])
            },
            options: {
                responsive: true,
                aspectRatio: 1.7,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: ''
                    },
                    autocolors: {
                        mode: 'data'
                    }
                }
            },
        });
        // set chart size to 800 x 800
        //pieChart.canvas.parentNode.style.height = '800px';
        //pieChart.canvas.parentNode.style.width = '800px';


        // multi line chart
        var speedCanvas = document.getElementById("speedChart");
        var rawData = {{streamer_trend_data|tojson}};
        var oglabels = {{streamers_labels|tojson}};
        var dates = {{streamers_trend_days|tojson}};
        var datasets = [];
        for (var i = 0; i < Object.keys(rawData).length; i++) {
            var key = Object.keys(rawData)[i];
            var dataset = {
                label: key,
                data: rawData[key],
            };
            datasets.push(dataset);
        }
        const data = {
            labels: dates,
            datasets: datasets
        };
        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: false,
                        text: ''
                    },
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        };
        var speedData = new Chart(speedCanvas, config);
        
        var ctx = document.getElementById('timedistribution').getContext('2d');
        var timedata = {{time_distribution|tojson}};
        var timedistribution = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(timedata),
                datasets: [{
                    label: 'Clips on that Hour',
                    data: Object.values(timedata),
                    borderWidth: 3,
                    fill: true,
                    backgroundColor: randomColor(), 
                    borderColor: randomColor(), 
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
            plugins:{
                title: {
                    display: true,
                    text: 'Time Distribution'
                }
            }
        });
        //timedistribution.canvas.parentNode.style.height = '850px';
        //timedistribution.canvas.parentNode.style.width = '1200px';
        graphs = [lineChart, pieChart, speedData, timedistribution, wordcloud];
    }
    document.addEventListener("DOMContentLoaded" , function(){
        drawCharts();
    });
    document.getElementById("theme_button").addEventListener("click", function(){
        drawCharts();
    });
</script>
{% endblock %}
